@font-face {
    font-family: 'Humane';
    src: url('Humane-Bold.eot');
    src: url('Humane-Bold.eot?#iefix') format('embedded-opentype'),
        url('Humane-Bold.woff2') format('woff2'),
        url('Humane-Bold.woff') format('woff'),
        url('Humane-Bold.ttf') format('truetype'),
        url('Humane-Bold.svg#Humane-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

