@font-face {
    font-family: 'Geist';
    src: url('/assets/uploads/fonts/Geist-Bold.eot');
    src: url('/assets/uploads/fonts/Geist-Bold.eot?#iefix') format('embedded-opentype'),
        url('/assets/uploads/fonts/Geist-Bold.woff2') format('woff2'),
        url('/assets/uploads/fonts/Geist-Bold.woff') format('woff'),
        url('/assets/uploads/fonts/Geist-Bold.ttf') format('truetype'),
        url('/assets/uploads/fonts/Geist-Bold.svg#Geist-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geist';
    src: url('/assets/uploads/fonts/Geist-Regular.eot');
    src: url('/assets/uploads/fonts/Geist-Regular.eot?#iefix') format('embedded-opentype'),
        url('/assets/uploads/fonts/Geist-Regular.woff2') format('woff2'),
        url('/assets/uploads/fonts/Geist-Regular.woff') format('woff'),
        url('/assets/uploads/fonts/Geist-Regular.ttf') format('truetype'),
        url('/assets/uploads/fonts/Geist-Regular.svg#Geist-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Eksell Display Stencil';
    src: url('/assets/uploads/fonts/EksellDisplay-Stencil.eot');
    src: url('/assets/uploads/fonts/EksellDisplay-Stencil.eot?#iefix') format('embedded-opentype'),
        url('/assets/uploads/fonts/EksellDisplay-Stencil.woff2') format('woff2'),
        url('/assets/uploads/fonts/EksellDisplay-Stencil.woff') format('woff'),
        url('/assets/uploads/fonts/EksellDisplay-Stencil.ttf') format('truetype'),
        url('/assets/uploads/fonts/EksellDisplay-Stencil.svg#EksellDisplay-Stencil') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

