@font-face {
    font-family: 'Queens Condensed';
    src: url('/assets/fonts/QueensCondensed-Light.eot');
    src: url('/assets/fonts/QueensCondensed-Light.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/QueensCondensed-Light.woff2') format('woff2'),
        url('/assets/fonts/QueensCondensed-Light.woff') format('woff'),
        url('/assets/fonts/QueensCondensed-Light.ttf') format('truetype'),
        url('/assets/fonts/QueensCondensed-Light.svg#QueensCondensed-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mallory';
    src: url('/assets/fonts/Mallory-BookItalic.eot');
    src: url('/assets/fonts/Mallory-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Mallory-BookItalic.woff2') format('woff2'),
        url('/assets/fonts/Mallory-BookItalic.woff') format('woff'),
        url('/assets/fonts/Mallory-BookItalic.ttf') format('truetype'),
        url('/assets/fonts/Mallory-BookItalic.svg#Mallory-BookItalic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mallory';
    src: url('/assets/fonts/Mallory-Book.eot');
    src: url('/assets/fonts/Mallory-Book.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Mallory-Book.woff2') format('woff2'),
        url('/assets/fonts/Mallory-Book.woff') format('woff'),
        url('/assets/fonts/Mallory-Book.ttf') format('truetype'),
        url('/assets/fonts/Mallory-Book.svg#Mallory-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FK Screamer';
    src: url('/assets/fonts/FKScreamer-Upright.eot');
    src: url('/assets/fonts/FKScreamer-Upright.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/FKScreamer-Upright.woff2') format('woff2'),
        url('/assets/fonts/FKScreamer-Upright.woff') format('woff'),
        url('/assets/fonts/FKScreamer-Upright.ttf') format('truetype'),
        url('/assets/fonts/FKScreamer-Upright.svg#FKScreamer-Upright') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

