@charset "UTF-8";
body {
  font-family: "Mallory";
  color: #011b1a;
  font-size: 1rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pt__0, .py__0 {
  padding-top: 0;
}

.pt__1, .py__1 {
  padding-top: 1rem;
}

.pt__2, .py__2, .panel {
  padding-top: 1.25rem;
}

.pt__3, .py__3, .work__table-card {
  padding-top: 1.5625rem;
}

.pt__4, .py__4 {
  padding-top: 1.953125rem;
}

.pt__5, .py__5 {
  padding-top: 2.44140625rem;
}

.pt__6, .py__6 {
  padding-top: 3.0517578125rem;
}

.pt__7, .py__7 {
  padding-top: 3.8146972656rem;
}

.pt__8, .py__8 {
  padding-top: 4.768371582rem;
}

.pt__9, .py__9 {
  padding-top: 5.9604644775rem;
}

.pt__10, .py__10 {
  padding-top: 7.4505805969rem;
}

.pr__0, .px__0 {
  padding-right: 0;
}

.pr__1, .px__1 {
  padding-right: 1rem;
}

.pr__2, .px__2, .panel {
  padding-right: 1.25rem;
}

.pr__3, .px__3 {
  padding-right: 1.5625rem;
}

.pr__4, .px__4 {
  padding-right: 1.953125rem;
}

.pr__5, .px__5 {
  padding-right: 2.44140625rem;
}

.pr__6, .px__6 {
  padding-right: 3.0517578125rem;
}

.pr__7, .px__7 {
  padding-right: 3.8146972656rem;
}

.pr__8, .px__8 {
  padding-right: 4.768371582rem;
}

.pr__9, .px__9 {
  padding-right: 5.9604644775rem;
}

.pr__10, .px__10 {
  padding-right: 7.4505805969rem;
}

.pb__0, .py__0 {
  padding-bottom: 0;
}

.pb__1, .py__1 {
  padding-bottom: 1rem;
}

.pb__2, .py__2, .panel {
  padding-bottom: 1.25rem;
}

.pb__3, .py__3, .work__table-card {
  padding-bottom: 1.5625rem;
}

.pb__4, .py__4 {
  padding-bottom: 1.953125rem;
}

.pb__5, .py__5 {
  padding-bottom: 2.44140625rem;
}

.pb__6, .py__6 {
  padding-bottom: 3.0517578125rem;
}

.pb__7, .py__7 {
  padding-bottom: 3.8146972656rem;
}

.pb__8, .py__8 {
  padding-bottom: 4.768371582rem;
}

.pb__9, .py__9 {
  padding-bottom: 5.9604644775rem;
}

.pb__10, .py__10 {
  padding-bottom: 7.4505805969rem;
}

.pl__0, .px__0 {
  padding-left: 0;
}

.pl__1, .px__1 {
  padding-left: 1rem;
}

.pl__2, .px__2, .panel {
  padding-left: 1.25rem;
}

.pl__3, .px__3 {
  padding-left: 1.5625rem;
}

.pl__4, .px__4 {
  padding-left: 1.953125rem;
}

.pl__5, .px__5 {
  padding-left: 2.44140625rem;
}

.pl__6, .px__6 {
  padding-left: 3.0517578125rem;
}

.pl__7, .px__7 {
  padding-left: 3.8146972656rem;
}

.pl__8, .px__8 {
  padding-left: 4.768371582rem;
}

.pl__9, .px__9 {
  padding-left: 5.9604644775rem;
}

.pl__10, .px__10 {
  padding-left: 7.4505805969rem;
}

.mt__0, .my__0 {
  margin-top: 0;
}

.mt__1, .my__1 {
  margin-top: 1rem;
}

.mt__2, .my__2 {
  margin-top: 1.25rem;
}

.mt__3, .my__3 {
  margin-top: 1.5625rem;
}

.mt__4, .my__4 {
  margin-top: 1.953125rem;
}

.mt__5, .my__5 {
  margin-top: 2.44140625rem;
}

.mt__6, .my__6 {
  margin-top: 3.0517578125rem;
}

.mt__7, .my__7 {
  margin-top: 3.8146972656rem;
}

.mt__8, .my__8 {
  margin-top: 4.768371582rem;
}

.mt__9, .my__9 {
  margin-top: 5.9604644775rem;
}

.mt__10, .my__10 {
  margin-top: 7.4505805969rem;
}

.mr__0, .mx__0 {
  margin-right: 0;
}

.mr__1, .mx__1 {
  margin-right: 1rem;
}

.mr__2, .mx__2 {
  margin-right: 1.25rem;
}

.mr__3, .mx__3 {
  margin-right: 1.5625rem;
}

.mr__4, .mx__4 {
  margin-right: 1.953125rem;
}

.mr__5, .mx__5 {
  margin-right: 2.44140625rem;
}

.mr__6, .mx__6 {
  margin-right: 3.0517578125rem;
}

.mr__7, .mx__7 {
  margin-right: 3.8146972656rem;
}

.mr__8, .mx__8 {
  margin-right: 4.768371582rem;
}

.mr__9, .mx__9 {
  margin-right: 5.9604644775rem;
}

.mr__10, .mx__10 {
  margin-right: 7.4505805969rem;
}

.mb__0, .my__0 {
  margin-bottom: 0;
}

.mb__1, .my__1 {
  margin-bottom: 1rem;
}

.mb__2, .my__2 {
  margin-bottom: 1.25rem;
}

.mb__3, .my__3 {
  margin-bottom: 1.5625rem;
}

.mb__4, .my__4 {
  margin-bottom: 1.953125rem;
}

.mb__5, .my__5 {
  margin-bottom: 2.44140625rem;
}

.mb__6, .my__6 {
  margin-bottom: 3.0517578125rem;
}

.mb__7, .my__7 {
  margin-bottom: 3.8146972656rem;
}

.mb__8, .my__8 {
  margin-bottom: 4.768371582rem;
}

.mb__9, .my__9 {
  margin-bottom: 5.9604644775rem;
}

.mb__10, .my__10 {
  margin-bottom: 7.4505805969rem;
}

.ml__0, .mx__0 {
  margin-left: 0;
}

.ml__1, .mx__1 {
  margin-left: 1rem;
}

.ml__2, .mx__2 {
  margin-left: 1.25rem;
}

.ml__3, .mx__3 {
  margin-left: 1.5625rem;
}

.ml__4, .mx__4 {
  margin-left: 1.953125rem;
}

.ml__5, .mx__5 {
  margin-left: 2.44140625rem;
}

.ml__6, .mx__6 {
  margin-left: 3.0517578125rem;
}

.ml__7, .mx__7 {
  margin-left: 3.8146972656rem;
}

.ml__8, .mx__8 {
  margin-left: 4.768371582rem;
}

.ml__9, .mx__9 {
  margin-left: 5.9604644775rem;
}

.ml__10, .mx__10 {
  margin-left: 7.4505805969rem;
}

.ml__auto, .mx__auto {
  margin-left: auto;
}

.mr__auto, .mx__auto {
  margin-right: auto;
}

.mt__auto, .my__auto {
  margin-top: auto;
}

.mb__auto, .my__auto {
  margin-bottom: auto;
}

.vh__1 {
  min-height: 10vh;
  height: 100%;
}

.vh__2 {
  min-height: 20vh;
  height: 100%;
}

.vh__3 {
  min-height: 30vh;
  height: 100%;
}

.vh__4 {
  min-height: 40vh;
  height: 100%;
}

.vh__5 {
  min-height: 50vh;
  height: 100%;
}

.vh__6 {
  min-height: 60vh;
  height: 100%;
}

.vh__7 {
  min-height: 70vh;
  height: 100%;
}

.vh__8 {
  min-height: 80vh;
  height: 100%;
}

.vh__9 {
  min-height: 90vh;
  height: 100%;
}

.vh__10 {
  min-height: 100vh;
  height: 100%;
}

.limiter {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  flex: 0 0 auto;
  width: 91.66666667%;
}

.panel {
  overflow: hidden;
}

.br__sm {
  border-radius: 4px;
}

.br__tl-sm {
  border-radius-top-left: 4px;
}

.br__tr-sm {
  border-radius-top-right: 4px;
}

.br__bl-sm {
  border-radius-bottom-left: 4px;
}

.br__br-sm {
  border-radius-bottorm-right: 4px;
}

.br__md, .cs-2-col-image figure, .cs-fullwidth-image figure, .image__fullwidth, .panel {
  border-radius: 8px;
}

.br__tl-md {
  border-radius-top-left: 8px;
}

.br__tr-md {
  border-radius-top-right: 8px;
}

.br__bl-md {
  border-radius-bottom-left: 8px;
}

.br__br-md {
  border-radius-bottorm-right: 8px;
}

.br__lg {
  border-radius: 16px;
}

.br__tl-lg {
  border-radius-top-left: 16px;
}

.br__tr-lg {
  border-radius-top-right: 16px;
}

.br__bl-lg {
  border-radius-bottom-left: 16px;
}

.br__br-lg {
  border-radius-bottorm-right: 16px;
}

.br__xl {
  border-radius: 32px;
}

.br__tl-xl {
  border-radius-top-left: 32px;
}

.br__tr-xl {
  border-radius-top-right: 32px;
}

.br__bl-xl {
  border-radius-bottom-left: 32px;
}

.br__br-xl {
  border-radius-bottorm-right: 32px;
}

.br__pill {
  border-radius: 50rem;
}

.br__tl-pill {
  border-radius-top-left: 50rem;
}

.br__tr-pill {
  border-radius-top-right: 50rem;
}

.br__bl-pill {
  border-radius-bottom-left: 50rem;
}

.br__br-pill {
  border-radius-bottorm-right: 50rem;
}

.text__primary {
  color: #132525 !important;
}

.text__secondary, .form__group label {
  color: #F04F23 !important;
}

.text__third {
  color: #005A4B !important;
}

.text__light {
  color: #EBF2F1 !important;
}

.text__dark {
  color: #011b1a !important;
}

.text__white {
  color: #fff !important;
}

h1, .h1 {
  font-size: calc(1.375rem + 1.5vw);
  font-family: "Queens Condensed";
  line-height: 1.2;
  font-weight: 300;
}

h2, .h2 {
  font-size: calc(1.325rem + 0.9vw);
  font-family: "Queens Condensed";
  line-height: 1.2;
  font-weight: 300;
}

h3, .h3 {
  font-size: calc(1.3rem + 0.6vw);
  font-family: "Queens Condensed";
  line-height: 1.2;
  font-weight: 300;
}

h4, .h4 {
  font-size: calc(1.275rem + 0.3vw);
  font-family: "Queens Condensed";
  line-height: 1.2;
  font-weight: 300;
}

h5, .h5 {
  font-size: 1.25rem;
  font-family: "Queens Condensed";
  line-height: 1.2;
  font-weight: 300;
}

h6, .h6 {
  font-size: 1rem;
  font-family: "Queens Condensed";
  line-height: 1.2;
  font-weight: 300;
}

.display__1 {
  font-size: calc(1.625rem + 10.5vw);
  line-height: 0.9;
  font-family: "FK Screamer";
  text-transform: uppercase;
}

.display__2 {
  font-size: calc(1.575rem + 3.9vw);
  line-height: 0.9;
  font-family: "FK Screamer";
  text-transform: uppercase;
}

.display__3 {
  font-size: calc(1.525rem + 3.3vw);
  line-height: 0.9;
  font-family: "FK Screamer";
  text-transform: uppercase;
}

.display__4 {
  font-size: calc(1.475rem + 2.7vw);
  line-height: 0.9;
  font-family: "FK Screamer";
  text-transform: uppercase;
}

.display__5 {
  font-size: calc(1.425rem + 2.1vw);
  line-height: 0.9;
  font-family: "FK Screamer";
  text-transform: uppercase;
}

.display__6 {
  font-size: calc(1.375rem + 1.5vw);
  line-height: 0.9;
  font-family: "FK Screamer";
  text-transform: uppercase;
}

a {
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  color: inherit;
  transition: all 0.3s ease-in-out;
}
a:hover {
  text-decoration: none;
  opacity: 0.8;
}

.subtitle, .form__group label {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: "Mallory";
  font-size: 12px;
}

.chip {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 50rem;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-flex;
  width: auto;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
  font-weight: 400;
}
.chip.bg__primary {
  background-color: #020303 !important;
  color: #EBF2F1;
}
.chip.bg__secondary {
  background-color: #d2380e !important;
  color: #EBF2F1;
}
.chip.bg__third {
  background-color: #002721 !important;
  color: #EBF2F1;
}
.chip.bg__light {
  background-color: #ccdedb !important;
}
.chip.bg__dark {
  background-color: black !important;
  color: #EBF2F1;
}
.chip.bg__white {
  background-color: #e6e6e6 !important;
  color: #EBF2F1;
}

.lead {
  font-size: calc(1.275rem + 0.3vw);
  font-weight: 400;
}

.list-unstyled {
  list-style: none;
  padding: 0;
}

.icon__list {
  padding: 0;
  list-style: none;
}
.icon__list li {
  position: relative;
  padding-left: 1.953125rem;
  margin-bottom: 1.25rem;
}
.icon__list li:before {
  content: "—";
  color: #F04F23;
  position: absolute;
  top: 0;
  left: 0;
}

.bg__primary {
  background-color: #132525;
}

.bg__secondary {
  background-color: #F04F23;
}

.bg__third {
  background-color: #005A4B;
}

.bg__light {
  background-color: #EBF2F1;
}

.bg__dark {
  background-color: #011b1a;
}

.bg__white {
  background-color: #fff;
}

.work__table-header {
  align-items: end;
  padding-top: 1.5625rem;
  padding-bottom: 1rem;
  margin-bottom: 1.5625rem;
  border-bottom: 1px solid #F04F23;
}

.work__table-card {
  font-weight: 400;
  align-items: center;
}
.work__table-card.not__last {
  border-bottom: 1px solid #ccdedb;
}
@media screen and (max-width: 992px) {
  .work__table-card {
    border-radius: 8px;
    border: 1px solid #ccdedb;
    padding: 1.5625rem;
  }
  .work__table-card.not__last {
    margin-bottom: 1.5625rem;
  }
  .work__table-card .index {
    display: none;
  }
  .work__table-card .description {
    margin-top: 1.25rem;
  }
}

.section__title-pill {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  border-radius: 50rem;
  display: flex;
  align-items: center;
  margin-bottom: 1.5625rem;
}
.section__title-pill h2 {
  margin-bottom: 0;
  line-height: 1;
  padding-top: 0.25rem;
}
.section__title-pill .btn {
  margin-left: auto;
}
.section__title-pill.bg__primary {
  background-color: #020303 !important;
  color: #EBF2F1;
}
.section__title-pill.bg__secondary {
  background-color: #d2380e !important;
  color: #EBF2F1;
}
.section__title-pill.bg__third {
  background-color: #002721 !important;
  color: #EBF2F1;
}
.section__title-pill.bg__light {
  background-color: #ccdedb !important;
}
.section__title-pill.bg__dark {
  background-color: black !important;
  color: #EBF2F1;
}
.section__title-pill.bg__white {
  background-color: #e6e6e6 !important;
  color: #EBF2F1;
}

.section__title-line hr {
  border: 0;
  border-bottom: 1px solid;
  border-color: #EBF2F1;
}

body.bg__dark .section__title-line hr {
  border-color: #244747;
}
body.bg__dark .section__title-line h2, body.bg__dark .section__title-line p {
  color: #EBF2F1;
}

.btn {
  border-radius: 50rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  text-decoration: none;
  display: inline-block;
  letter-spacing: 2px;
  border: 0;
}
.btn__primary, .bg__ footer .limiter .btn, .bg__light footer .limiter .btn, footer .limiter .btn {
  background-color: #132525 !important;
  color: #EBF2F1;
}
.btn__primary:hover, footer .limiter .btn:hover {
  background-color: #0a1414 !important;
  text-decoration: none;
}
.btn__secondary, .bg__dark footer .limiter .btn {
  background-color: #F04F23 !important;
  color: #EBF2F1;
}
.btn__secondary:hover, .bg__dark footer .limiter .btn:hover {
  background-color: #ea3f10 !important;
  text-decoration: none;
}
.btn__third {
  background-color: #005A4B !important;
  color: #EBF2F1;
}
.btn__third:hover {
  background-color: #004136 !important;
  text-decoration: none;
}
.btn__light {
  background-color: #EBF2F1 !important;
}
.btn__light:hover {
  background-color: #dce8e6 !important;
  text-decoration: none;
}
.btn__dark {
  background-color: #011b1a !important;
  color: #EBF2F1;
}
.btn__dark:hover {
  background-color: #000202 !important;
  text-decoration: none;
}
.btn__white {
  background-color: #fff !important;
  color: #EBF2F1;
}
.btn__white:hover {
  background-color: #f2f2f2 !important;
  text-decoration: none;
}

.form__group label {
  display: block;
  margin-bottom: 1rem;
}
.form__group input[type=text], .form__group input[type=email], .form__group input[type=textarea], .form__group textarea {
  display: block;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #ccdedb;
  padding: 1rem;
}

.image__rounded {
  overflow: hidden;
  border-radius: 8px;
  display: block;
}
.image__rounded > img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.image__fullwidth {
  overflow: hidden;
}
.image__fullwidth img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.cs-2-col-image figure, .cs-fullwidth-image figure {
  display: block;
  height: 100%;
  overflow: hidden;
  background-color: white;
}
.cs-2-col-image figure img, .cs-fullwidth-image figure img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

nav.nav__bar {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 10000000;
  background-color: #011b1a;
  padding: 1rem 1.5625rem;
  transition: all 0.3s ease-in-out;
}
nav.nav__bar.active {
  background-color: transparent;
}
nav.nav__bar .nav__brand {
  margin-left: auto;
  margin-right: auto;
  transform: translateX(50%);
}
@media screen and (max-width: 768px) {
  nav.nav__bar .nav__brand {
    margin-left: 0;
    transform: translateX(0%);
  }
}
nav.nav__bar .nav__brand a {
  opacity: 1;
}
nav.nav__bar .nav__brand a:hover {
  opacity: 1;
}
nav.nav__bar .nav__brand svg {
  display: block;
  height: 40px;
  fill: #F04F23;
}
nav.nav__bar .nav__brand svg:hover {
  fill: #F04F23;
}
nav.nav__bar .nav__toggle #menu__toggle {
  height: 50px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-10px);
  opacity: 1;
  border: 0;
  background-color: transparent;
}
nav.nav__bar .nav__toggle .toggle__bar {
  display: block;
  height: 1px;
  width: 30px;
  background-color: #EBF2F1;
  transform: translateY(1rem);
  position: relative;
  transition: all 0.3s ease-in-out;
}
nav.nav__bar .nav__toggle .toggle__bar:after {
  content: "";
  display: block;
  height: 1px;
  width: 35px;
  background-color: #EBF2F1;
  position: absolute;
  bottom: 0.5rem;
  transition: all 0.3s ease-in-out;
}
nav.nav__bar .nav__toggle .toggle__bar.active {
  transform: translateY(0.73rem) rotate(45deg);
  transform-origin: center;
  width: 35px;
}
nav.nav__bar .nav__toggle .toggle__bar.active:after {
  transform: translateY(0.25rem) rotate(90deg);
  transform-origin: center;
  bottom: 3px;
}

.nav__panel {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #011b1a;
  z-index: 100;
  transform: translateX(110vw);
  transition: 0.4s ease-in-out;
}
.nav__panel .nav__item {
  transform: translateY(-50%);
  opacity: 0;
  margin-bottom: 0;
}
.nav__panel .nav__link {
  font-family: "FK Screamer";
  font-size: calc(1.575rem + 3.9vw);
  color: #EBF2F1;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 0;
}
.nav__panel .nav__link-panel {
  height: 100vh;
  padding: 1.5625rem;
  display: flex;
  align-items: center;
}
.nav__panel .nav__bg-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.nav__panel.active {
  transform: translateX(0);
}
.nav__panel.active .nav__item {
  transform: translateY(0);
  opacity: 1;
  transition: 0.4s ease-in-out;
}

footer .limiter {
  background-color: #ccdedb;
}
footer .limiter.subfooter {
  background-color: transparent;
}
footer .limiter.subfooter p {
  font-size: 12px;
  margin-bottom: 0;
  text-transform: uppercase;
}
.bg__dark footer .limiter {
  background-color: #132525;
}
.bg__dark footer .limiter.subfooter {
  background-color: transparent;
}
.bg__dark footer .limiter.subfooter p {
  color: #EBF2F1;
}
.bg__dark footer .limiter .display__1, .bg__dark footer .limiter h4 {
  color: #EBF2F1;
}
.bg__ footer .limiter, .bg__light footer .limiter {
  background-color: #ccdedb;
}
.bg__ footer .limiter.subfooter, .bg__light footer .limiter.subfooter {
  background-color: transparent;
}
.client__block hr {
  border: 0;
  border-bottom: 1px solid;
  border-color: #EBF2F1;
}
.client__block .client__container {
  background-color: #ccdedb;
}
.client__block .client__container .col-lg {
  padding: 1.25rem;
}
.client__block .client__container .col-lg svg {
  display: block;
  max-width: 150px;
  fill: #132525;
  margin-left: auto;
  margin-right: auto;
}

body.bg__dark .client__block hr {
  border-color: #244747;
}
body.bg__dark .client__block h2, body.bg__dark .client__block p {
  color: #EBF2F1;
}
body.bg__dark .client__block .client__container {
  background-color: #132525;
}
body.bg__dark .client__block .client__container .col-lg svg {
  fill: #EBF2F1;
}

/*# sourceMappingURL=theme.css.map */