@charset "UTF-8";
:root {
  --primary: #FB4413 !important;
  --dark: #000012 !important;
  --light: #f2f2f2 !important;
  --white: #fff !important;
  --type-primary: #FB4413 !important;
  --type-dark: #000012 !important;
  --type-light: #f2f2f2 !important;
  --type-white: #fff !important;
  --type-color-base: #FB4413 !important !important;
  --heading-color: var(--dark) !important;
  --fs-1: 2.5rem !important;
  --fs-2: 2rem !important;
  --fs-3: 1.75rem !important;
  --fs-4: 1.5rem !important;
  --fs-5: 1.25rem !important;
  --fs-6: 1rem !important;
  --dfs-1: clamp(7vw, 5rem, 15vw) !important;
  --dfs-2: 4.5rem !important;
  --dfs-3: 4rem !important;
  --dfs-4: 3.5rem !important;
  --dfs-5: 3rem !important;
  --dfs-6: 2.5rem !important;
  --font-headline: "Newsreader" !important;
  --font-base: "Schibsted Grotesk" !important;
  --font-mono: "Sono" !important;
  --spacer-1: 1rem;
  --spacer-2: 1.25rem;
  --spacer-3: 1.5625rem;
  --spacer-4: 1.953125rem;
  --spacer-5: 2.44140625rem;
  --spacer-6: 3.0517578125rem;
  --spacer-7: 3.8146972656rem;
  --spacer-8: 4.768371582rem;
  --spacer-9: 5.9604644775rem;
  --spacer-10: 7.4505805969rem;
  --nav-link: #000012 !important;
  --nav-bg: #fff !important;
  --border-color: #f2f2f2 !important;
  --bs-gutter-x: 1.5rem;
}

[data-mode=dark], [data-mode=dark], *.dark-mode, .dark-mode, .bg-primary, .bg-dark {
  --heading-color: var(--white);
  --type-color-base: #fff !important;
  --nav-link: #fff !important;
  --nav-bg: #000012 !important;
}

body, html {
  font-family: var(--font-base) !important;
  font-weight: normal !important;
  font-weight: 400 !important;
  color: var(--type-color-base) !important;
}

p {
  font-family: var(--font-base) !important;
  font-weight: normal !important;
  font-weight: 400 !important;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 1rem !important;
  color: var(--type-color-base) !important;
}

.lead {
  font-size: var(--fs-5);
}

.fs-1, .h1, h1 {
  font-size: var(--fs-1) !important;
}

.fs-2, .h2, h2 {
  font-size: var(--fs-2) !important;
}

.fs-3, .h3, h3 {
  font-size: var(--fs-3) !important;
}

.fs-4, .h4, h4 {
  font-size: var(--fs-4) !important;
}

.fs-5, .h5, h5 {
  font-size: var(--fs-5) !important;
}

.fs-6, .h6, h6 {
  font-size: var(--fs-6) !important;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: var(--font-headline) !important;
  font-weight: 400 !important;
  font-style: normal !important;
  line-height: 1.1;
  color: var(--heading-color);
  margin: 0;
}

h6, .h6 {
  text-transform: uppercase !important;
  font-weight: 700 !important;
  font-family: "Sohne Breit" !important;
  margin-bottom: 1rem;
}

.display-1, .display-2, .display-3, .display-4, .display-5, .display-6 {
  font-family: var(--font-headline) !important;
  font-weight: 400 !important;
  font-style: normal !important;
  line-height: 1.1;
  margin: 0;
}

.display-1 {
  font-size: var(--dfs-1) !important;
}

.display-2 {
  font-size: var(--dfs-2) !important;
}

.display-3 {
  font-size: var(--dfs-3) !important;
}

.display-4 {
  font-size: var(--dfs-4) !important;
}

.display-5 {
  font-size: var(--dfs-5) !important;
}

.display-6 {
  font-size: var(--dfs-6) !important;
}

.text-muted {
  opacity: 0.7 !important;
}

.text-primary {
  color: #FB4413 !important;
}

.text-dark {
  color: #000012 !important;
}

.text-light {
  color: #f2f2f2 !important;
}

.text-white {
  color: #fff !important;
}

strong, .strong {
  font-weight: 700 !important;
}

em, .em {
  font-style: italic !important;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

@media screen and (min-width: 576px) {
  .text-sm-right {
    text-align: right;
  }
  .text-sm-center {
    text-align: center;
  }
  .text-sm-left {
    text-align: left;
  }
}
@media screen and (min-width: 768px) {
  .text-md-right {
    text-align: right;
  }
  .text-md-center {
    text-align: center;
  }
  .text-md-left {
    text-align: left;
  }
}
@media screen and (min-width: 992px) {
  .text-lg-right {
    text-align: right;
  }
  .text-lg-center {
    text-align: center;
  }
  .text-lg-left {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .text-xl-right {
    text-align: right;
  }
  .text-xl-center {
    text-align: center;
  }
  .text-xl-left {
    text-align: left;
  }
}
@media screen and (min-width: 1400px) {
  .text-xxl-right {
    text-align: right;
  }
  .text-xxl-center {
    text-align: center;
  }
  .text-xxl-left {
    text-align: left;
  }
}
.masthead {
  position: fixed;
  z-index: 100000000;
  top: 60px;
  left: 0;
  right: 0;
}

.site-title {
  text-align: center;
  font-family: "Sohne Breit" !important;
  font-size: 9vw !important;
  text-transform: uppercase;
  font-weight: 700 !important;
  line-height: 1;
}

ul {
  padding-left: 1rem;
}
ul li {
  padding-left: 1rem;
}
ul li::marker {
  content: "—";
  color: #FB4413;
}

.bg-primary {
  background-color: var(--primary) !important;
}

.bg-dark {
  background-color: var(--dark) !important;
}

.bg-light {
  background-color: var(--light) !important;
}

.bg-white {
  background-color: var(--white) !important;
}

.py-1, .pt-1 {
  padding-top: 1rem !important;
}

.py-1, .pb-1 {
  padding-bottom: 1rem !important;
}

.px-1, .ps-1 {
  padding-left: 1rem !important;
}

.px-1, .pe-1 {
  padding-right: 1rem !important;
}

.my-1, .mt-1 {
  margin-top: 1rem !important;
}

.my-1, .mb-1 {
  margin-bottom: 1rem !important;
}

.mx-1, .ms-1 {
  margin-left: 1rem !important;
}

.mx-1, .me-1 {
  margin-right: 1rem !important;
}

.py-2, .pt-2 {
  padding-top: 1.25rem !important;
}

.py-2, .pb-2 {
  padding-bottom: 1.25rem !important;
}

.px-2, .ps-2 {
  padding-left: 1.25rem !important;
}

.px-2, .pe-2 {
  padding-right: 1.25rem !important;
}

.my-2, .mt-2 {
  margin-top: 1.25rem !important;
}

.my-2, .mb-2 {
  margin-bottom: 1.25rem !important;
}

.mx-2, .ms-2 {
  margin-left: 1.25rem !important;
}

.mx-2, .me-2 {
  margin-right: 1.25rem !important;
}

.py-3, .pt-3 {
  padding-top: 1.5625rem !important;
}

.py-3, .pb-3 {
  padding-bottom: 1.5625rem !important;
}

.px-3, .ps-3 {
  padding-left: 1.5625rem !important;
}

.px-3, .pe-3 {
  padding-right: 1.5625rem !important;
}

.my-3, .mt-3 {
  margin-top: 1.5625rem !important;
}

.my-3, .mb-3 {
  margin-bottom: 1.5625rem !important;
}

.mx-3, .ms-3 {
  margin-left: 1.5625rem !important;
}

.mx-3, .me-3 {
  margin-right: 1.5625rem !important;
}

.py-4, .pt-4 {
  padding-top: 1.953125rem !important;
}

.py-4, .pb-4 {
  padding-bottom: 1.953125rem !important;
}

.px-4, .ps-4 {
  padding-left: 1.953125rem !important;
}

.px-4, .pe-4 {
  padding-right: 1.953125rem !important;
}

.my-4, .mt-4 {
  margin-top: 1.953125rem !important;
}

.my-4, .mb-4 {
  margin-bottom: 1.953125rem !important;
}

.mx-4, .ms-4 {
  margin-left: 1.953125rem !important;
}

.mx-4, .me-4 {
  margin-right: 1.953125rem !important;
}

.py-5, .pt-5 {
  padding-top: 2.44140625rem !important;
}

.py-5, .pb-5 {
  padding-bottom: 2.44140625rem !important;
}

.px-5, .ps-5 {
  padding-left: 2.44140625rem !important;
}

.px-5, .pe-5 {
  padding-right: 2.44140625rem !important;
}

.my-5, .mt-5 {
  margin-top: 2.44140625rem !important;
}

.my-5, .mb-5 {
  margin-bottom: 2.44140625rem !important;
}

.mx-5, .ms-5 {
  margin-left: 2.44140625rem !important;
}

.mx-5, .me-5 {
  margin-right: 2.44140625rem !important;
}

.py-6, .pt-6 {
  padding-top: 3.0517578125rem !important;
}

.py-6, .pb-6 {
  padding-bottom: 3.0517578125rem !important;
}

.px-6, .ps-6 {
  padding-left: 3.0517578125rem !important;
}

.px-6, .pe-6 {
  padding-right: 3.0517578125rem !important;
}

.my-6, .mt-6 {
  margin-top: 3.0517578125rem !important;
}

.my-6, .mb-6 {
  margin-bottom: 3.0517578125rem !important;
}

.mx-6, .ms-6 {
  margin-left: 3.0517578125rem !important;
}

.mx-6, .me-6 {
  margin-right: 3.0517578125rem !important;
}

.py-7, .pt-7 {
  padding-top: 3.8146972656rem !important;
}

.py-7, .pb-7 {
  padding-bottom: 3.8146972656rem !important;
}

.px-7, .ps-7 {
  padding-left: 3.8146972656rem !important;
}

.px-7, .pe-7 {
  padding-right: 3.8146972656rem !important;
}

.my-7, .mt-7 {
  margin-top: 3.8146972656rem !important;
}

.my-7, .mb-7 {
  margin-bottom: 3.8146972656rem !important;
}

.mx-7, .ms-7 {
  margin-left: 3.8146972656rem !important;
}

.mx-7, .me-7 {
  margin-right: 3.8146972656rem !important;
}

.py-8, .pt-8 {
  padding-top: 4.768371582rem !important;
}

.py-8, .pb-8 {
  padding-bottom: 4.768371582rem !important;
}

.px-8, .ps-8 {
  padding-left: 4.768371582rem !important;
}

.px-8, .pe-8 {
  padding-right: 4.768371582rem !important;
}

.my-8, .mt-8 {
  margin-top: 4.768371582rem !important;
}

.my-8, .mb-8 {
  margin-bottom: 4.768371582rem !important;
}

.mx-8, .ms-8 {
  margin-left: 4.768371582rem !important;
}

.mx-8, .me-8 {
  margin-right: 4.768371582rem !important;
}

.py-9, .pt-9 {
  padding-top: 5.9604644775rem !important;
}

.py-9, .pb-9 {
  padding-bottom: 5.9604644775rem !important;
}

.px-9, .ps-9 {
  padding-left: 5.9604644775rem !important;
}

.px-9, .pe-9 {
  padding-right: 5.9604644775rem !important;
}

.my-9, .mt-9 {
  margin-top: 5.9604644775rem !important;
}

.my-9, .mb-9 {
  margin-bottom: 5.9604644775rem !important;
}

.mx-9, .ms-9 {
  margin-left: 5.9604644775rem !important;
}

.mx-9, .me-9 {
  margin-right: 5.9604644775rem !important;
}

.py-10, .pt-10 {
  padding-top: 7.4505805969rem !important;
}

.py-10, .pb-10 {
  padding-bottom: 7.4505805969rem !important;
}

.px-10, .ps-10 {
  padding-left: 7.4505805969rem !important;
}

.px-10, .pe-10 {
  padding-right: 7.4505805969rem !important;
}

.my-10, .mt-10 {
  margin-top: 7.4505805969rem !important;
}

.my-10, .mb-10 {
  margin-bottom: 7.4505805969rem !important;
}

.mx-10, .ms-10 {
  margin-left: 7.4505805969rem !important;
}

.mx-10, .me-10 {
  margin-right: 7.4505805969rem !important;
}

@media screen and (min-width: 576px) {
  .py-sm-1, .pt-sm-1 {
    padding-top: 1rem !important;
  }
  .py-sm-1, .pb-sm-1 {
    padding-bottom: 1rem !important;
  }
  .px-sm-1, .ps-sm-1 {
    padding-left: 1rem !important;
  }
  .px-sm-1, .pe-sm-1 {
    padding-right: 1rem !important;
  }
  .my-sm-1, .mt-sm-1 {
    margin-top: 1rem !important;
  }
  .my-sm-1, .mb-sm-1 {
    margin-bottom: 1rem !important;
  }
  .mx-sm-1, .ms-sm-1 {
    margin-left: 1rem !important;
  }
  .mx-sm-1, .me-sm-1 {
    margin-right: 1rem !important;
  }
}
@media screen and (min-width: 576px) {
  .py-sm-2, .pt-sm-2 {
    padding-top: 1.25rem !important;
  }
  .py-sm-2, .pb-sm-2 {
    padding-bottom: 1.25rem !important;
  }
  .px-sm-2, .ps-sm-2 {
    padding-left: 1.25rem !important;
  }
  .px-sm-2, .pe-sm-2 {
    padding-right: 1.25rem !important;
  }
  .my-sm-2, .mt-sm-2 {
    margin-top: 1.25rem !important;
  }
  .my-sm-2, .mb-sm-2 {
    margin-bottom: 1.25rem !important;
  }
  .mx-sm-2, .ms-sm-2 {
    margin-left: 1.25rem !important;
  }
  .mx-sm-2, .me-sm-2 {
    margin-right: 1.25rem !important;
  }
}
@media screen and (min-width: 576px) {
  .py-sm-3, .pt-sm-3 {
    padding-top: 1.5625rem !important;
  }
  .py-sm-3, .pb-sm-3 {
    padding-bottom: 1.5625rem !important;
  }
  .px-sm-3, .ps-sm-3 {
    padding-left: 1.5625rem !important;
  }
  .px-sm-3, .pe-sm-3 {
    padding-right: 1.5625rem !important;
  }
  .my-sm-3, .mt-sm-3 {
    margin-top: 1.5625rem !important;
  }
  .my-sm-3, .mb-sm-3 {
    margin-bottom: 1.5625rem !important;
  }
  .mx-sm-3, .ms-sm-3 {
    margin-left: 1.5625rem !important;
  }
  .mx-sm-3, .me-sm-3 {
    margin-right: 1.5625rem !important;
  }
}
@media screen and (min-width: 576px) {
  .py-sm-4, .pt-sm-4 {
    padding-top: 1.953125rem !important;
  }
  .py-sm-4, .pb-sm-4 {
    padding-bottom: 1.953125rem !important;
  }
  .px-sm-4, .ps-sm-4 {
    padding-left: 1.953125rem !important;
  }
  .px-sm-4, .pe-sm-4 {
    padding-right: 1.953125rem !important;
  }
  .my-sm-4, .mt-sm-4 {
    margin-top: 1.953125rem !important;
  }
  .my-sm-4, .mb-sm-4 {
    margin-bottom: 1.953125rem !important;
  }
  .mx-sm-4, .ms-sm-4 {
    margin-left: 1.953125rem !important;
  }
  .mx-sm-4, .me-sm-4 {
    margin-right: 1.953125rem !important;
  }
}
@media screen and (min-width: 576px) {
  .py-sm-5, .pt-sm-5 {
    padding-top: 2.44140625rem !important;
  }
  .py-sm-5, .pb-sm-5 {
    padding-bottom: 2.44140625rem !important;
  }
  .px-sm-5, .ps-sm-5 {
    padding-left: 2.44140625rem !important;
  }
  .px-sm-5, .pe-sm-5 {
    padding-right: 2.44140625rem !important;
  }
  .my-sm-5, .mt-sm-5 {
    margin-top: 2.44140625rem !important;
  }
  .my-sm-5, .mb-sm-5 {
    margin-bottom: 2.44140625rem !important;
  }
  .mx-sm-5, .ms-sm-5 {
    margin-left: 2.44140625rem !important;
  }
  .mx-sm-5, .me-sm-5 {
    margin-right: 2.44140625rem !important;
  }
}
@media screen and (min-width: 576px) {
  .py-sm-6, .pt-sm-6 {
    padding-top: 3.0517578125rem !important;
  }
  .py-sm-6, .pb-sm-6 {
    padding-bottom: 3.0517578125rem !important;
  }
  .px-sm-6, .ps-sm-6 {
    padding-left: 3.0517578125rem !important;
  }
  .px-sm-6, .pe-sm-6 {
    padding-right: 3.0517578125rem !important;
  }
  .my-sm-6, .mt-sm-6 {
    margin-top: 3.0517578125rem !important;
  }
  .my-sm-6, .mb-sm-6 {
    margin-bottom: 3.0517578125rem !important;
  }
  .mx-sm-6, .ms-sm-6 {
    margin-left: 3.0517578125rem !important;
  }
  .mx-sm-6, .me-sm-6 {
    margin-right: 3.0517578125rem !important;
  }
}
@media screen and (min-width: 576px) {
  .py-sm-7, .pt-sm-7 {
    padding-top: 3.8146972656rem !important;
  }
  .py-sm-7, .pb-sm-7 {
    padding-bottom: 3.8146972656rem !important;
  }
  .px-sm-7, .ps-sm-7 {
    padding-left: 3.8146972656rem !important;
  }
  .px-sm-7, .pe-sm-7 {
    padding-right: 3.8146972656rem !important;
  }
  .my-sm-7, .mt-sm-7 {
    margin-top: 3.8146972656rem !important;
  }
  .my-sm-7, .mb-sm-7 {
    margin-bottom: 3.8146972656rem !important;
  }
  .mx-sm-7, .ms-sm-7 {
    margin-left: 3.8146972656rem !important;
  }
  .mx-sm-7, .me-sm-7 {
    margin-right: 3.8146972656rem !important;
  }
}
@media screen and (min-width: 576px) {
  .py-sm-8, .pt-sm-8 {
    padding-top: 4.768371582rem !important;
  }
  .py-sm-8, .pb-sm-8 {
    padding-bottom: 4.768371582rem !important;
  }
  .px-sm-8, .ps-sm-8 {
    padding-left: 4.768371582rem !important;
  }
  .px-sm-8, .pe-sm-8 {
    padding-right: 4.768371582rem !important;
  }
  .my-sm-8, .mt-sm-8 {
    margin-top: 4.768371582rem !important;
  }
  .my-sm-8, .mb-sm-8 {
    margin-bottom: 4.768371582rem !important;
  }
  .mx-sm-8, .ms-sm-8 {
    margin-left: 4.768371582rem !important;
  }
  .mx-sm-8, .me-sm-8 {
    margin-right: 4.768371582rem !important;
  }
}
@media screen and (min-width: 576px) {
  .py-sm-9, .pt-sm-9 {
    padding-top: 5.9604644775rem !important;
  }
  .py-sm-9, .pb-sm-9 {
    padding-bottom: 5.9604644775rem !important;
  }
  .px-sm-9, .ps-sm-9 {
    padding-left: 5.9604644775rem !important;
  }
  .px-sm-9, .pe-sm-9 {
    padding-right: 5.9604644775rem !important;
  }
  .my-sm-9, .mt-sm-9 {
    margin-top: 5.9604644775rem !important;
  }
  .my-sm-9, .mb-sm-9 {
    margin-bottom: 5.9604644775rem !important;
  }
  .mx-sm-9, .ms-sm-9 {
    margin-left: 5.9604644775rem !important;
  }
  .mx-sm-9, .me-sm-9 {
    margin-right: 5.9604644775rem !important;
  }
}
@media screen and (min-width: 576px) {
  .py-sm-10, .pt-sm-10 {
    padding-top: 7.4505805969rem !important;
  }
  .py-sm-10, .pb-sm-10 {
    padding-bottom: 7.4505805969rem !important;
  }
  .px-sm-10, .ps-sm-10 {
    padding-left: 7.4505805969rem !important;
  }
  .px-sm-10, .pe-sm-10 {
    padding-right: 7.4505805969rem !important;
  }
  .my-sm-10, .mt-sm-10 {
    margin-top: 7.4505805969rem !important;
  }
  .my-sm-10, .mb-sm-10 {
    margin-bottom: 7.4505805969rem !important;
  }
  .mx-sm-10, .ms-sm-10 {
    margin-left: 7.4505805969rem !important;
  }
  .mx-sm-10, .me-sm-10 {
    margin-right: 7.4505805969rem !important;
  }
}
@media screen and (min-width: 768px) {
  .py-md-1, .pt-md-1 {
    padding-top: 1rem !important;
  }
  .py-md-1, .pb-md-1 {
    padding-bottom: 1rem !important;
  }
  .px-md-1, .ps-md-1 {
    padding-left: 1rem !important;
  }
  .px-md-1, .pe-md-1 {
    padding-right: 1rem !important;
  }
  .my-md-1, .mt-md-1 {
    margin-top: 1rem !important;
  }
  .my-md-1, .mb-md-1 {
    margin-bottom: 1rem !important;
  }
  .mx-md-1, .ms-md-1 {
    margin-left: 1rem !important;
  }
  .mx-md-1, .me-md-1 {
    margin-right: 1rem !important;
  }
}
@media screen and (min-width: 768px) {
  .py-md-2, .pt-md-2 {
    padding-top: 1.25rem !important;
  }
  .py-md-2, .pb-md-2 {
    padding-bottom: 1.25rem !important;
  }
  .px-md-2, .ps-md-2 {
    padding-left: 1.25rem !important;
  }
  .px-md-2, .pe-md-2 {
    padding-right: 1.25rem !important;
  }
  .my-md-2, .mt-md-2 {
    margin-top: 1.25rem !important;
  }
  .my-md-2, .mb-md-2 {
    margin-bottom: 1.25rem !important;
  }
  .mx-md-2, .ms-md-2 {
    margin-left: 1.25rem !important;
  }
  .mx-md-2, .me-md-2 {
    margin-right: 1.25rem !important;
  }
}
@media screen and (min-width: 768px) {
  .py-md-3, .pt-md-3 {
    padding-top: 1.5625rem !important;
  }
  .py-md-3, .pb-md-3 {
    padding-bottom: 1.5625rem !important;
  }
  .px-md-3, .ps-md-3 {
    padding-left: 1.5625rem !important;
  }
  .px-md-3, .pe-md-3 {
    padding-right: 1.5625rem !important;
  }
  .my-md-3, .mt-md-3 {
    margin-top: 1.5625rem !important;
  }
  .my-md-3, .mb-md-3 {
    margin-bottom: 1.5625rem !important;
  }
  .mx-md-3, .ms-md-3 {
    margin-left: 1.5625rem !important;
  }
  .mx-md-3, .me-md-3 {
    margin-right: 1.5625rem !important;
  }
}
@media screen and (min-width: 768px) {
  .py-md-4, .pt-md-4 {
    padding-top: 1.953125rem !important;
  }
  .py-md-4, .pb-md-4 {
    padding-bottom: 1.953125rem !important;
  }
  .px-md-4, .ps-md-4 {
    padding-left: 1.953125rem !important;
  }
  .px-md-4, .pe-md-4 {
    padding-right: 1.953125rem !important;
  }
  .my-md-4, .mt-md-4 {
    margin-top: 1.953125rem !important;
  }
  .my-md-4, .mb-md-4 {
    margin-bottom: 1.953125rem !important;
  }
  .mx-md-4, .ms-md-4 {
    margin-left: 1.953125rem !important;
  }
  .mx-md-4, .me-md-4 {
    margin-right: 1.953125rem !important;
  }
}
@media screen and (min-width: 768px) {
  .py-md-5, .pt-md-5 {
    padding-top: 2.44140625rem !important;
  }
  .py-md-5, .pb-md-5 {
    padding-bottom: 2.44140625rem !important;
  }
  .px-md-5, .ps-md-5 {
    padding-left: 2.44140625rem !important;
  }
  .px-md-5, .pe-md-5 {
    padding-right: 2.44140625rem !important;
  }
  .my-md-5, .mt-md-5 {
    margin-top: 2.44140625rem !important;
  }
  .my-md-5, .mb-md-5 {
    margin-bottom: 2.44140625rem !important;
  }
  .mx-md-5, .ms-md-5 {
    margin-left: 2.44140625rem !important;
  }
  .mx-md-5, .me-md-5 {
    margin-right: 2.44140625rem !important;
  }
}
@media screen and (min-width: 768px) {
  .py-md-6, .pt-md-6 {
    padding-top: 3.0517578125rem !important;
  }
  .py-md-6, .pb-md-6 {
    padding-bottom: 3.0517578125rem !important;
  }
  .px-md-6, .ps-md-6 {
    padding-left: 3.0517578125rem !important;
  }
  .px-md-6, .pe-md-6 {
    padding-right: 3.0517578125rem !important;
  }
  .my-md-6, .mt-md-6 {
    margin-top: 3.0517578125rem !important;
  }
  .my-md-6, .mb-md-6 {
    margin-bottom: 3.0517578125rem !important;
  }
  .mx-md-6, .ms-md-6 {
    margin-left: 3.0517578125rem !important;
  }
  .mx-md-6, .me-md-6 {
    margin-right: 3.0517578125rem !important;
  }
}
@media screen and (min-width: 768px) {
  .py-md-7, .pt-md-7 {
    padding-top: 3.8146972656rem !important;
  }
  .py-md-7, .pb-md-7 {
    padding-bottom: 3.8146972656rem !important;
  }
  .px-md-7, .ps-md-7 {
    padding-left: 3.8146972656rem !important;
  }
  .px-md-7, .pe-md-7 {
    padding-right: 3.8146972656rem !important;
  }
  .my-md-7, .mt-md-7 {
    margin-top: 3.8146972656rem !important;
  }
  .my-md-7, .mb-md-7 {
    margin-bottom: 3.8146972656rem !important;
  }
  .mx-md-7, .ms-md-7 {
    margin-left: 3.8146972656rem !important;
  }
  .mx-md-7, .me-md-7 {
    margin-right: 3.8146972656rem !important;
  }
}
@media screen and (min-width: 768px) {
  .py-md-8, .pt-md-8 {
    padding-top: 4.768371582rem !important;
  }
  .py-md-8, .pb-md-8 {
    padding-bottom: 4.768371582rem !important;
  }
  .px-md-8, .ps-md-8 {
    padding-left: 4.768371582rem !important;
  }
  .px-md-8, .pe-md-8 {
    padding-right: 4.768371582rem !important;
  }
  .my-md-8, .mt-md-8 {
    margin-top: 4.768371582rem !important;
  }
  .my-md-8, .mb-md-8 {
    margin-bottom: 4.768371582rem !important;
  }
  .mx-md-8, .ms-md-8 {
    margin-left: 4.768371582rem !important;
  }
  .mx-md-8, .me-md-8 {
    margin-right: 4.768371582rem !important;
  }
}
@media screen and (min-width: 768px) {
  .py-md-9, .pt-md-9 {
    padding-top: 5.9604644775rem !important;
  }
  .py-md-9, .pb-md-9 {
    padding-bottom: 5.9604644775rem !important;
  }
  .px-md-9, .ps-md-9 {
    padding-left: 5.9604644775rem !important;
  }
  .px-md-9, .pe-md-9 {
    padding-right: 5.9604644775rem !important;
  }
  .my-md-9, .mt-md-9 {
    margin-top: 5.9604644775rem !important;
  }
  .my-md-9, .mb-md-9 {
    margin-bottom: 5.9604644775rem !important;
  }
  .mx-md-9, .ms-md-9 {
    margin-left: 5.9604644775rem !important;
  }
  .mx-md-9, .me-md-9 {
    margin-right: 5.9604644775rem !important;
  }
}
@media screen and (min-width: 768px) {
  .py-md-10, .pt-md-10 {
    padding-top: 7.4505805969rem !important;
  }
  .py-md-10, .pb-md-10 {
    padding-bottom: 7.4505805969rem !important;
  }
  .px-md-10, .ps-md-10 {
    padding-left: 7.4505805969rem !important;
  }
  .px-md-10, .pe-md-10 {
    padding-right: 7.4505805969rem !important;
  }
  .my-md-10, .mt-md-10 {
    margin-top: 7.4505805969rem !important;
  }
  .my-md-10, .mb-md-10 {
    margin-bottom: 7.4505805969rem !important;
  }
  .mx-md-10, .ms-md-10 {
    margin-left: 7.4505805969rem !important;
  }
  .mx-md-10, .me-md-10 {
    margin-right: 7.4505805969rem !important;
  }
}
@media screen and (min-width: 992px) {
  .py-lg-1, .pt-lg-1 {
    padding-top: 1rem !important;
  }
  .py-lg-1, .pb-lg-1 {
    padding-bottom: 1rem !important;
  }
  .px-lg-1, .ps-lg-1 {
    padding-left: 1rem !important;
  }
  .px-lg-1, .pe-lg-1 {
    padding-right: 1rem !important;
  }
  .my-lg-1, .mt-lg-1 {
    margin-top: 1rem !important;
  }
  .my-lg-1, .mb-lg-1 {
    margin-bottom: 1rem !important;
  }
  .mx-lg-1, .ms-lg-1 {
    margin-left: 1rem !important;
  }
  .mx-lg-1, .me-lg-1 {
    margin-right: 1rem !important;
  }
}
@media screen and (min-width: 992px) {
  .py-lg-2, .pt-lg-2 {
    padding-top: 1.25rem !important;
  }
  .py-lg-2, .pb-lg-2 {
    padding-bottom: 1.25rem !important;
  }
  .px-lg-2, .ps-lg-2 {
    padding-left: 1.25rem !important;
  }
  .px-lg-2, .pe-lg-2 {
    padding-right: 1.25rem !important;
  }
  .my-lg-2, .mt-lg-2 {
    margin-top: 1.25rem !important;
  }
  .my-lg-2, .mb-lg-2 {
    margin-bottom: 1.25rem !important;
  }
  .mx-lg-2, .ms-lg-2 {
    margin-left: 1.25rem !important;
  }
  .mx-lg-2, .me-lg-2 {
    margin-right: 1.25rem !important;
  }
}
@media screen and (min-width: 992px) {
  .py-lg-3, .pt-lg-3 {
    padding-top: 1.5625rem !important;
  }
  .py-lg-3, .pb-lg-3 {
    padding-bottom: 1.5625rem !important;
  }
  .px-lg-3, .ps-lg-3 {
    padding-left: 1.5625rem !important;
  }
  .px-lg-3, .pe-lg-3 {
    padding-right: 1.5625rem !important;
  }
  .my-lg-3, .mt-lg-3 {
    margin-top: 1.5625rem !important;
  }
  .my-lg-3, .mb-lg-3 {
    margin-bottom: 1.5625rem !important;
  }
  .mx-lg-3, .ms-lg-3 {
    margin-left: 1.5625rem !important;
  }
  .mx-lg-3, .me-lg-3 {
    margin-right: 1.5625rem !important;
  }
}
@media screen and (min-width: 992px) {
  .py-lg-4, .pt-lg-4 {
    padding-top: 1.953125rem !important;
  }
  .py-lg-4, .pb-lg-4 {
    padding-bottom: 1.953125rem !important;
  }
  .px-lg-4, .ps-lg-4 {
    padding-left: 1.953125rem !important;
  }
  .px-lg-4, .pe-lg-4 {
    padding-right: 1.953125rem !important;
  }
  .my-lg-4, .mt-lg-4 {
    margin-top: 1.953125rem !important;
  }
  .my-lg-4, .mb-lg-4 {
    margin-bottom: 1.953125rem !important;
  }
  .mx-lg-4, .ms-lg-4 {
    margin-left: 1.953125rem !important;
  }
  .mx-lg-4, .me-lg-4 {
    margin-right: 1.953125rem !important;
  }
}
@media screen and (min-width: 992px) {
  .py-lg-5, .pt-lg-5 {
    padding-top: 2.44140625rem !important;
  }
  .py-lg-5, .pb-lg-5 {
    padding-bottom: 2.44140625rem !important;
  }
  .px-lg-5, .ps-lg-5 {
    padding-left: 2.44140625rem !important;
  }
  .px-lg-5, .pe-lg-5 {
    padding-right: 2.44140625rem !important;
  }
  .my-lg-5, .mt-lg-5 {
    margin-top: 2.44140625rem !important;
  }
  .my-lg-5, .mb-lg-5 {
    margin-bottom: 2.44140625rem !important;
  }
  .mx-lg-5, .ms-lg-5 {
    margin-left: 2.44140625rem !important;
  }
  .mx-lg-5, .me-lg-5 {
    margin-right: 2.44140625rem !important;
  }
}
@media screen and (min-width: 992px) {
  .py-lg-6, .pt-lg-6 {
    padding-top: 3.0517578125rem !important;
  }
  .py-lg-6, .pb-lg-6 {
    padding-bottom: 3.0517578125rem !important;
  }
  .px-lg-6, .ps-lg-6 {
    padding-left: 3.0517578125rem !important;
  }
  .px-lg-6, .pe-lg-6 {
    padding-right: 3.0517578125rem !important;
  }
  .my-lg-6, .mt-lg-6 {
    margin-top: 3.0517578125rem !important;
  }
  .my-lg-6, .mb-lg-6 {
    margin-bottom: 3.0517578125rem !important;
  }
  .mx-lg-6, .ms-lg-6 {
    margin-left: 3.0517578125rem !important;
  }
  .mx-lg-6, .me-lg-6 {
    margin-right: 3.0517578125rem !important;
  }
}
@media screen and (min-width: 992px) {
  .py-lg-7, .pt-lg-7 {
    padding-top: 3.8146972656rem !important;
  }
  .py-lg-7, .pb-lg-7 {
    padding-bottom: 3.8146972656rem !important;
  }
  .px-lg-7, .ps-lg-7 {
    padding-left: 3.8146972656rem !important;
  }
  .px-lg-7, .pe-lg-7 {
    padding-right: 3.8146972656rem !important;
  }
  .my-lg-7, .mt-lg-7 {
    margin-top: 3.8146972656rem !important;
  }
  .my-lg-7, .mb-lg-7 {
    margin-bottom: 3.8146972656rem !important;
  }
  .mx-lg-7, .ms-lg-7 {
    margin-left: 3.8146972656rem !important;
  }
  .mx-lg-7, .me-lg-7 {
    margin-right: 3.8146972656rem !important;
  }
}
@media screen and (min-width: 992px) {
  .py-lg-8, .pt-lg-8 {
    padding-top: 4.768371582rem !important;
  }
  .py-lg-8, .pb-lg-8 {
    padding-bottom: 4.768371582rem !important;
  }
  .px-lg-8, .ps-lg-8 {
    padding-left: 4.768371582rem !important;
  }
  .px-lg-8, .pe-lg-8 {
    padding-right: 4.768371582rem !important;
  }
  .my-lg-8, .mt-lg-8 {
    margin-top: 4.768371582rem !important;
  }
  .my-lg-8, .mb-lg-8 {
    margin-bottom: 4.768371582rem !important;
  }
  .mx-lg-8, .ms-lg-8 {
    margin-left: 4.768371582rem !important;
  }
  .mx-lg-8, .me-lg-8 {
    margin-right: 4.768371582rem !important;
  }
}
@media screen and (min-width: 992px) {
  .py-lg-9, .pt-lg-9 {
    padding-top: 5.9604644775rem !important;
  }
  .py-lg-9, .pb-lg-9 {
    padding-bottom: 5.9604644775rem !important;
  }
  .px-lg-9, .ps-lg-9 {
    padding-left: 5.9604644775rem !important;
  }
  .px-lg-9, .pe-lg-9 {
    padding-right: 5.9604644775rem !important;
  }
  .my-lg-9, .mt-lg-9 {
    margin-top: 5.9604644775rem !important;
  }
  .my-lg-9, .mb-lg-9 {
    margin-bottom: 5.9604644775rem !important;
  }
  .mx-lg-9, .ms-lg-9 {
    margin-left: 5.9604644775rem !important;
  }
  .mx-lg-9, .me-lg-9 {
    margin-right: 5.9604644775rem !important;
  }
}
@media screen and (min-width: 992px) {
  .py-lg-10, .pt-lg-10 {
    padding-top: 7.4505805969rem !important;
  }
  .py-lg-10, .pb-lg-10 {
    padding-bottom: 7.4505805969rem !important;
  }
  .px-lg-10, .ps-lg-10 {
    padding-left: 7.4505805969rem !important;
  }
  .px-lg-10, .pe-lg-10 {
    padding-right: 7.4505805969rem !important;
  }
  .my-lg-10, .mt-lg-10 {
    margin-top: 7.4505805969rem !important;
  }
  .my-lg-10, .mb-lg-10 {
    margin-bottom: 7.4505805969rem !important;
  }
  .mx-lg-10, .ms-lg-10 {
    margin-left: 7.4505805969rem !important;
  }
  .mx-lg-10, .me-lg-10 {
    margin-right: 7.4505805969rem !important;
  }
}
@media screen and (min-width: 1200px) {
  .py-xl-1, .pt-xl-1 {
    padding-top: 1rem !important;
  }
  .py-xl-1, .pb-xl-1 {
    padding-bottom: 1rem !important;
  }
  .px-xl-1, .ps-xl-1 {
    padding-left: 1rem !important;
  }
  .px-xl-1, .pe-xl-1 {
    padding-right: 1rem !important;
  }
  .my-xl-1, .mt-xl-1 {
    margin-top: 1rem !important;
  }
  .my-xl-1, .mb-xl-1 {
    margin-bottom: 1rem !important;
  }
  .mx-xl-1, .ms-xl-1 {
    margin-left: 1rem !important;
  }
  .mx-xl-1, .me-xl-1 {
    margin-right: 1rem !important;
  }
}
@media screen and (min-width: 1200px) {
  .py-xl-2, .pt-xl-2 {
    padding-top: 1.25rem !important;
  }
  .py-xl-2, .pb-xl-2 {
    padding-bottom: 1.25rem !important;
  }
  .px-xl-2, .ps-xl-2 {
    padding-left: 1.25rem !important;
  }
  .px-xl-2, .pe-xl-2 {
    padding-right: 1.25rem !important;
  }
  .my-xl-2, .mt-xl-2 {
    margin-top: 1.25rem !important;
  }
  .my-xl-2, .mb-xl-2 {
    margin-bottom: 1.25rem !important;
  }
  .mx-xl-2, .ms-xl-2 {
    margin-left: 1.25rem !important;
  }
  .mx-xl-2, .me-xl-2 {
    margin-right: 1.25rem !important;
  }
}
@media screen and (min-width: 1200px) {
  .py-xl-3, .pt-xl-3 {
    padding-top: 1.5625rem !important;
  }
  .py-xl-3, .pb-xl-3 {
    padding-bottom: 1.5625rem !important;
  }
  .px-xl-3, .ps-xl-3 {
    padding-left: 1.5625rem !important;
  }
  .px-xl-3, .pe-xl-3 {
    padding-right: 1.5625rem !important;
  }
  .my-xl-3, .mt-xl-3 {
    margin-top: 1.5625rem !important;
  }
  .my-xl-3, .mb-xl-3 {
    margin-bottom: 1.5625rem !important;
  }
  .mx-xl-3, .ms-xl-3 {
    margin-left: 1.5625rem !important;
  }
  .mx-xl-3, .me-xl-3 {
    margin-right: 1.5625rem !important;
  }
}
@media screen and (min-width: 1200px) {
  .py-xl-4, .pt-xl-4 {
    padding-top: 1.953125rem !important;
  }
  .py-xl-4, .pb-xl-4 {
    padding-bottom: 1.953125rem !important;
  }
  .px-xl-4, .ps-xl-4 {
    padding-left: 1.953125rem !important;
  }
  .px-xl-4, .pe-xl-4 {
    padding-right: 1.953125rem !important;
  }
  .my-xl-4, .mt-xl-4 {
    margin-top: 1.953125rem !important;
  }
  .my-xl-4, .mb-xl-4 {
    margin-bottom: 1.953125rem !important;
  }
  .mx-xl-4, .ms-xl-4 {
    margin-left: 1.953125rem !important;
  }
  .mx-xl-4, .me-xl-4 {
    margin-right: 1.953125rem !important;
  }
}
@media screen and (min-width: 1200px) {
  .py-xl-5, .pt-xl-5 {
    padding-top: 2.44140625rem !important;
  }
  .py-xl-5, .pb-xl-5 {
    padding-bottom: 2.44140625rem !important;
  }
  .px-xl-5, .ps-xl-5 {
    padding-left: 2.44140625rem !important;
  }
  .px-xl-5, .pe-xl-5 {
    padding-right: 2.44140625rem !important;
  }
  .my-xl-5, .mt-xl-5 {
    margin-top: 2.44140625rem !important;
  }
  .my-xl-5, .mb-xl-5 {
    margin-bottom: 2.44140625rem !important;
  }
  .mx-xl-5, .ms-xl-5 {
    margin-left: 2.44140625rem !important;
  }
  .mx-xl-5, .me-xl-5 {
    margin-right: 2.44140625rem !important;
  }
}
@media screen and (min-width: 1200px) {
  .py-xl-6, .pt-xl-6 {
    padding-top: 3.0517578125rem !important;
  }
  .py-xl-6, .pb-xl-6 {
    padding-bottom: 3.0517578125rem !important;
  }
  .px-xl-6, .ps-xl-6 {
    padding-left: 3.0517578125rem !important;
  }
  .px-xl-6, .pe-xl-6 {
    padding-right: 3.0517578125rem !important;
  }
  .my-xl-6, .mt-xl-6 {
    margin-top: 3.0517578125rem !important;
  }
  .my-xl-6, .mb-xl-6 {
    margin-bottom: 3.0517578125rem !important;
  }
  .mx-xl-6, .ms-xl-6 {
    margin-left: 3.0517578125rem !important;
  }
  .mx-xl-6, .me-xl-6 {
    margin-right: 3.0517578125rem !important;
  }
}
@media screen and (min-width: 1200px) {
  .py-xl-7, .pt-xl-7 {
    padding-top: 3.8146972656rem !important;
  }
  .py-xl-7, .pb-xl-7 {
    padding-bottom: 3.8146972656rem !important;
  }
  .px-xl-7, .ps-xl-7 {
    padding-left: 3.8146972656rem !important;
  }
  .px-xl-7, .pe-xl-7 {
    padding-right: 3.8146972656rem !important;
  }
  .my-xl-7, .mt-xl-7 {
    margin-top: 3.8146972656rem !important;
  }
  .my-xl-7, .mb-xl-7 {
    margin-bottom: 3.8146972656rem !important;
  }
  .mx-xl-7, .ms-xl-7 {
    margin-left: 3.8146972656rem !important;
  }
  .mx-xl-7, .me-xl-7 {
    margin-right: 3.8146972656rem !important;
  }
}
@media screen and (min-width: 1200px) {
  .py-xl-8, .pt-xl-8 {
    padding-top: 4.768371582rem !important;
  }
  .py-xl-8, .pb-xl-8 {
    padding-bottom: 4.768371582rem !important;
  }
  .px-xl-8, .ps-xl-8 {
    padding-left: 4.768371582rem !important;
  }
  .px-xl-8, .pe-xl-8 {
    padding-right: 4.768371582rem !important;
  }
  .my-xl-8, .mt-xl-8 {
    margin-top: 4.768371582rem !important;
  }
  .my-xl-8, .mb-xl-8 {
    margin-bottom: 4.768371582rem !important;
  }
  .mx-xl-8, .ms-xl-8 {
    margin-left: 4.768371582rem !important;
  }
  .mx-xl-8, .me-xl-8 {
    margin-right: 4.768371582rem !important;
  }
}
@media screen and (min-width: 1200px) {
  .py-xl-9, .pt-xl-9 {
    padding-top: 5.9604644775rem !important;
  }
  .py-xl-9, .pb-xl-9 {
    padding-bottom: 5.9604644775rem !important;
  }
  .px-xl-9, .ps-xl-9 {
    padding-left: 5.9604644775rem !important;
  }
  .px-xl-9, .pe-xl-9 {
    padding-right: 5.9604644775rem !important;
  }
  .my-xl-9, .mt-xl-9 {
    margin-top: 5.9604644775rem !important;
  }
  .my-xl-9, .mb-xl-9 {
    margin-bottom: 5.9604644775rem !important;
  }
  .mx-xl-9, .ms-xl-9 {
    margin-left: 5.9604644775rem !important;
  }
  .mx-xl-9, .me-xl-9 {
    margin-right: 5.9604644775rem !important;
  }
}
@media screen and (min-width: 1200px) {
  .py-xl-10, .pt-xl-10 {
    padding-top: 7.4505805969rem !important;
  }
  .py-xl-10, .pb-xl-10 {
    padding-bottom: 7.4505805969rem !important;
  }
  .px-xl-10, .ps-xl-10 {
    padding-left: 7.4505805969rem !important;
  }
  .px-xl-10, .pe-xl-10 {
    padding-right: 7.4505805969rem !important;
  }
  .my-xl-10, .mt-xl-10 {
    margin-top: 7.4505805969rem !important;
  }
  .my-xl-10, .mb-xl-10 {
    margin-bottom: 7.4505805969rem !important;
  }
  .mx-xl-10, .ms-xl-10 {
    margin-left: 7.4505805969rem !important;
  }
  .mx-xl-10, .me-xl-10 {
    margin-right: 7.4505805969rem !important;
  }
}
@media screen and (min-width: 1400px) {
  .py-xxl-1, .pt-xxl-1 {
    padding-top: 1rem !important;
  }
  .py-xxl-1, .pb-xxl-1 {
    padding-bottom: 1rem !important;
  }
  .px-xxl-1, .ps-xxl-1 {
    padding-left: 1rem !important;
  }
  .px-xxl-1, .pe-xxl-1 {
    padding-right: 1rem !important;
  }
  .my-xxl-1, .mt-xxl-1 {
    margin-top: 1rem !important;
  }
  .my-xxl-1, .mb-xxl-1 {
    margin-bottom: 1rem !important;
  }
  .mx-xxl-1, .ms-xxl-1 {
    margin-left: 1rem !important;
  }
  .mx-xxl-1, .me-xxl-1 {
    margin-right: 1rem !important;
  }
}
@media screen and (min-width: 1400px) {
  .py-xxl-2, .pt-xxl-2 {
    padding-top: 1.25rem !important;
  }
  .py-xxl-2, .pb-xxl-2 {
    padding-bottom: 1.25rem !important;
  }
  .px-xxl-2, .ps-xxl-2 {
    padding-left: 1.25rem !important;
  }
  .px-xxl-2, .pe-xxl-2 {
    padding-right: 1.25rem !important;
  }
  .my-xxl-2, .mt-xxl-2 {
    margin-top: 1.25rem !important;
  }
  .my-xxl-2, .mb-xxl-2 {
    margin-bottom: 1.25rem !important;
  }
  .mx-xxl-2, .ms-xxl-2 {
    margin-left: 1.25rem !important;
  }
  .mx-xxl-2, .me-xxl-2 {
    margin-right: 1.25rem !important;
  }
}
@media screen and (min-width: 1400px) {
  .py-xxl-3, .pt-xxl-3 {
    padding-top: 1.5625rem !important;
  }
  .py-xxl-3, .pb-xxl-3 {
    padding-bottom: 1.5625rem !important;
  }
  .px-xxl-3, .ps-xxl-3 {
    padding-left: 1.5625rem !important;
  }
  .px-xxl-3, .pe-xxl-3 {
    padding-right: 1.5625rem !important;
  }
  .my-xxl-3, .mt-xxl-3 {
    margin-top: 1.5625rem !important;
  }
  .my-xxl-3, .mb-xxl-3 {
    margin-bottom: 1.5625rem !important;
  }
  .mx-xxl-3, .ms-xxl-3 {
    margin-left: 1.5625rem !important;
  }
  .mx-xxl-3, .me-xxl-3 {
    margin-right: 1.5625rem !important;
  }
}
@media screen and (min-width: 1400px) {
  .py-xxl-4, .pt-xxl-4 {
    padding-top: 1.953125rem !important;
  }
  .py-xxl-4, .pb-xxl-4 {
    padding-bottom: 1.953125rem !important;
  }
  .px-xxl-4, .ps-xxl-4 {
    padding-left: 1.953125rem !important;
  }
  .px-xxl-4, .pe-xxl-4 {
    padding-right: 1.953125rem !important;
  }
  .my-xxl-4, .mt-xxl-4 {
    margin-top: 1.953125rem !important;
  }
  .my-xxl-4, .mb-xxl-4 {
    margin-bottom: 1.953125rem !important;
  }
  .mx-xxl-4, .ms-xxl-4 {
    margin-left: 1.953125rem !important;
  }
  .mx-xxl-4, .me-xxl-4 {
    margin-right: 1.953125rem !important;
  }
}
@media screen and (min-width: 1400px) {
  .py-xxl-5, .pt-xxl-5 {
    padding-top: 2.44140625rem !important;
  }
  .py-xxl-5, .pb-xxl-5 {
    padding-bottom: 2.44140625rem !important;
  }
  .px-xxl-5, .ps-xxl-5 {
    padding-left: 2.44140625rem !important;
  }
  .px-xxl-5, .pe-xxl-5 {
    padding-right: 2.44140625rem !important;
  }
  .my-xxl-5, .mt-xxl-5 {
    margin-top: 2.44140625rem !important;
  }
  .my-xxl-5, .mb-xxl-5 {
    margin-bottom: 2.44140625rem !important;
  }
  .mx-xxl-5, .ms-xxl-5 {
    margin-left: 2.44140625rem !important;
  }
  .mx-xxl-5, .me-xxl-5 {
    margin-right: 2.44140625rem !important;
  }
}
@media screen and (min-width: 1400px) {
  .py-xxl-6, .pt-xxl-6 {
    padding-top: 3.0517578125rem !important;
  }
  .py-xxl-6, .pb-xxl-6 {
    padding-bottom: 3.0517578125rem !important;
  }
  .px-xxl-6, .ps-xxl-6 {
    padding-left: 3.0517578125rem !important;
  }
  .px-xxl-6, .pe-xxl-6 {
    padding-right: 3.0517578125rem !important;
  }
  .my-xxl-6, .mt-xxl-6 {
    margin-top: 3.0517578125rem !important;
  }
  .my-xxl-6, .mb-xxl-6 {
    margin-bottom: 3.0517578125rem !important;
  }
  .mx-xxl-6, .ms-xxl-6 {
    margin-left: 3.0517578125rem !important;
  }
  .mx-xxl-6, .me-xxl-6 {
    margin-right: 3.0517578125rem !important;
  }
}
@media screen and (min-width: 1400px) {
  .py-xxl-7, .pt-xxl-7 {
    padding-top: 3.8146972656rem !important;
  }
  .py-xxl-7, .pb-xxl-7 {
    padding-bottom: 3.8146972656rem !important;
  }
  .px-xxl-7, .ps-xxl-7 {
    padding-left: 3.8146972656rem !important;
  }
  .px-xxl-7, .pe-xxl-7 {
    padding-right: 3.8146972656rem !important;
  }
  .my-xxl-7, .mt-xxl-7 {
    margin-top: 3.8146972656rem !important;
  }
  .my-xxl-7, .mb-xxl-7 {
    margin-bottom: 3.8146972656rem !important;
  }
  .mx-xxl-7, .ms-xxl-7 {
    margin-left: 3.8146972656rem !important;
  }
  .mx-xxl-7, .me-xxl-7 {
    margin-right: 3.8146972656rem !important;
  }
}
@media screen and (min-width: 1400px) {
  .py-xxl-8, .pt-xxl-8 {
    padding-top: 4.768371582rem !important;
  }
  .py-xxl-8, .pb-xxl-8 {
    padding-bottom: 4.768371582rem !important;
  }
  .px-xxl-8, .ps-xxl-8 {
    padding-left: 4.768371582rem !important;
  }
  .px-xxl-8, .pe-xxl-8 {
    padding-right: 4.768371582rem !important;
  }
  .my-xxl-8, .mt-xxl-8 {
    margin-top: 4.768371582rem !important;
  }
  .my-xxl-8, .mb-xxl-8 {
    margin-bottom: 4.768371582rem !important;
  }
  .mx-xxl-8, .ms-xxl-8 {
    margin-left: 4.768371582rem !important;
  }
  .mx-xxl-8, .me-xxl-8 {
    margin-right: 4.768371582rem !important;
  }
}
@media screen and (min-width: 1400px) {
  .py-xxl-9, .pt-xxl-9 {
    padding-top: 5.9604644775rem !important;
  }
  .py-xxl-9, .pb-xxl-9 {
    padding-bottom: 5.9604644775rem !important;
  }
  .px-xxl-9, .ps-xxl-9 {
    padding-left: 5.9604644775rem !important;
  }
  .px-xxl-9, .pe-xxl-9 {
    padding-right: 5.9604644775rem !important;
  }
  .my-xxl-9, .mt-xxl-9 {
    margin-top: 5.9604644775rem !important;
  }
  .my-xxl-9, .mb-xxl-9 {
    margin-bottom: 5.9604644775rem !important;
  }
  .mx-xxl-9, .ms-xxl-9 {
    margin-left: 5.9604644775rem !important;
  }
  .mx-xxl-9, .me-xxl-9 {
    margin-right: 5.9604644775rem !important;
  }
}
@media screen and (min-width: 1400px) {
  .py-xxl-10, .pt-xxl-10 {
    padding-top: 7.4505805969rem !important;
  }
  .py-xxl-10, .pb-xxl-10 {
    padding-bottom: 7.4505805969rem !important;
  }
  .px-xxl-10, .ps-xxl-10 {
    padding-left: 7.4505805969rem !important;
  }
  .px-xxl-10, .pe-xxl-10 {
    padding-right: 7.4505805969rem !important;
  }
  .my-xxl-10, .mt-xxl-10 {
    margin-top: 7.4505805969rem !important;
  }
  .my-xxl-10, .mb-xxl-10 {
    margin-bottom: 7.4505805969rem !important;
  }
  .mx-xxl-10, .ms-xxl-10 {
    margin-left: 7.4505805969rem !important;
  }
  .mx-xxl-10, .me-xxl-10 {
    margin-right: 7.4505805969rem !important;
  }
}
.vh-100 {
  min-height: 100vh !important;
}

.vh-90 {
  min-height: 90vh !important;
}

.vh-80 {
  min-height: 80vh !important;
}

.vh-70 {
  min-height: 70vh !important;
}

.vh-60 {
  min-height: 60vh !important;
}

.vh-50 {
  min-height: 50vh !important;
}

.vh-40 {
  min-height: 40vh !important;
}

.vh-30 {
  min-height: 30vh !important;
}

.vh-20 {
  min-height: 20vh !important;
}

.vh-10 {
  min-height: 10vh !important;
}

svg.arrow-icon .arrow, svg.arrow-icon .border {
  fill: var(--logo-fill);
  opacity: 0.1;
}
svg.arrow-icon .border {
  animation: arrow-border-rotation 20s infinite linear;
  transform-origin: 50%;
}

@keyframes arrow-border-rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.img-fluid {
  max-width: 100%;
  height: auto;
}

hr {
  border: 0;
  border-top: 1px solid var(--navbar-border);
  margin: 1.25rem 0;
}

.border {
  border: 1px solid var(--border-color);
}
.border-top {
  border-top: 1px solid var(--border-color);
}
.border-right {
  border-right: 1px solid var(--border-color);
}
.border-bottom {
  border-bottom: 1px solid var(--border-color);
}
.border-left {
  border-left: 1px solid var(--border-color);
}

.bg-light {
  --border-color: #000012;
}

footer {
  background-color: #000012;
  color: white;
  position: relative;
}
footer .footer-menu-toggle {
  border: none;
  box-shadow: none;
  background-color: transparent;
  color: white;
  padding: 0 1.5625rem;
  outline: none;
  all: reset;
}
footer .footer-menu {
  position: absolute;
  padding: 1.25rem;
  background-color: #000012;
  bottom: 0%;
  right: 1.25rem;
  transition: all 0.4s ease-in-out;
  height: 0;
  opacity: 0;
  display: none;
}
footer .footer-menu.active {
  bottom: 100%;
  height: auto;
  opacity: 1;
  display: flex;
  flex-direction: column;
}

nav {
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Sohne Breit" !important;
  font-size: 12px;
  letter-spacing: 1px;
  color: var(--nav-link);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100000000000000;
}
@media screen and (max-width: 768px) {
  nav .logo-full {
    display: none;
  }
}
nav .container {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
nav .has-border {
  border-bottom: 1px solid var(--nav-link);
}
@media screen and (max-width: 768px) {
  nav .has-md-border {
    border-bottom: 1px solid var(--nav-link);
  }
}
nav a {
  transition: 0.3s ease-in-out;
}
nav a:hover {
  color: #FB4413;
}
nav a.active {
  color: #FB4413;
}

a, a:hover {
  text-decoration: none;
}

a {
  color: inherit;
}
a:hover {
  color: #FB4413;
}

.body-link {
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Sohne Breit" !important;
  position: relative;
}
.body-link:before {
  content: "";
  position: absolute;
  bottom: -0.25rem;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: #FB4413;
  transition: all 0.3s ease-in-out;
}
.body-link:hover {
  color: inherit;
}
.body-link:hover:before {
  width: 0;
}

.figure-fluid {
  width: 100%;
  height: 100%;
  margin: 0;
}
.figure-fluid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.figure-350 {
  height: 350px;
}
.figure-600 {
  height: 600px;
}
.figure-bw {
  filter: grayscale(100%); /* Current draft standard */
  -webkit-filter: grayscale(100%); /* New WebKit */
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%); /* Not yet supported in Gecko, Opera or IE */
  filter: url(resources.svg#desaturate); /* Gecko */
  filter: gray; /* IE */
  -webkit-filter: grayscale(1); /* Old WebKit */
}

.homepage {
  position: relative;
  min-height: 100vh;
}
.homepage .project-list {
  position: relative;
}
.homepage .project-list .featured-project {
  background-color: #f2f2f2;
  max-height: 100vh;
  position: sticky;
  top: 0;
  padding-top: 1rem;
  padding-bottom: 3.0517578125rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
@media screen and (max-width: 768px) {
  .homepage .project-list .featured-project {
    position: relative;
    background-color: white;
    padding-top: 4.768371582rem;
  }
}
.homepage .project-list .featured-project figure {
  width: 100%;
  height: 100%;
  max-height: 400px;
  max-width: 700px;
  overflow: hidden;
  margin: 0 auto;
}
.homepage .project-list .featured-project figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.record-list {
  list-style: none;
}
.record-list li {
  padding-top: 1.953125rem;
  padding-bottom: 1.953125rem;
  border-top: 1px solid var(--border-color);
}

.casestudy-jumbotron {
  position: relative;
  background-color: #f2f2f2;
  z-index: 0;
}
.casestudy-jumbotron .container-fluid {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.casestudy-jumbotron .image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.casestudy-jumbotron .image figure {
  height: 600px;
  opacity: 0.5;
}

.image-section .casestudy-assets {
  position: relative !important;
  border-top: 1px solid var(--border-color);
}
.image-section .casestudy-assets .content {
  padding-top: 1.953125rem;
}
@media screen and (min-width: 768px) {
  .image-section .casestudy-assets .content {
    border-right: 1px solid var(--border-color);
    position: sticky;
    top: 120px;
    height: 100%;
    padding-right: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .image-section .casestudy-assets .content {
    position: relative;
    border-bottom: 1px solid var(--border-color);
    border-right: none;
  }
}
.image-section .casestudy-assets .images {
  padding-top: 1.953125rem;
}
.image-section .casestudy-assets .images img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem !important;
}
.image-section .casestudy-assets .images .caption {
  margin-bottom: var(--bs-gutter-x) !important;
  opacity: 0.4;
  text-transform: capitalize;
  font-family: "Sono" !important;
  font-size: 12px;
  text-align: right;
}

/*# sourceMappingURL=theme.css.map */